@import "tailwindcss";
@config "../../tailwind.config.js";

/** Theme **/
@theme {
  /* Screens */
  --breakpoint-sm: 30rem;
  /*480px*/
  --breakpoint-md: 48rem;
  /*768px*/
  --breakpoint-lg: 80rem;
  /*1280px*/
  --breakpoint-xl: 87.5rem;
  /*1400px*/
  --breakpoint-2xl: 96rem;
  /*1536px*/

  /* font */
  --font-lobster: "Lobster", serif;
  --font-inter: "Inter", sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  padding-block: 2rem;
  width: 100%;
  overflow-x: clip;
  max-width: 1536px;

  @media (min-width: theme("screens.md")) {
    padding-inline: 4.5rem;
    padding-block: 3rem;
  }
}

@layer base {
  body {
    @apply text-base font-inter overflow-x-clip;
  }

  p {
    @apply text-sm leading-7 font-inter;
  }
  
  button {
    @apply px-1 py-1 border cursor-pointer;
  }
}

@layer utilities {
  .btn {
    @apply flex items-baseline justify-center gap-2 px-4 py-2 text-sm tracking-wider text-white transition-colors duration-500 bg-gray-900 border-p-900 hover:bg-p-90-p font-inter;
  }

  .text-gradient {
    background: linear-gradient(
      to right, 
      theme("color.p.600"),
      theme("color.p.900")
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}